*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Ubuntu", serif;
    background-image: url('img/fundopreto.png');
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth;
}


.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color: white;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    overflow: visible;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 1rem;
    transition: background-color 0.3s;
    font-size: 23px;
}

.navbar a:hover {
    background-color: #ce85a2;
    border-radius: 4px;
}

.navbar .logo {
    font-size: 25px;
    font-weight: bold;
}


.navbar .menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    background-color: #f5a2c1;
    width: 0%;
}



    @media (max-width: 768px) {
        .navbar {
            display: flex;
            flex-direction: column; 
            align-items: center;
            text-align: center;
            padding: 10px;
        }
    
        .menu {
            display: none;
            flex-direction: column; 
            width: 100%; 
            background-color: rgb(0, 0, 0);
            text-align: center;
        }
    
        .menu a {
            margin-left: 10px;
            font-size: 20px;
            padding: 10px 0;
            display: block;
            text-align: center;
        }
    
    

    .progress {
        display: none;
    }
}


.home {
    width: 100%;
    overflow: hidden; 
    text-align: center; 
    white-space: nowrap;
}
.fundo1 {
    height: 100vh;
    background-image: url('img/fundo1.png');
    background-size: cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;

}

.fundo1 h2 {
    font-size: 35px;
    margin: 0;
    color: rgb(255, 255, 255);
    margin-top: 20rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}

.fundo1 h1 {
    font-size: clamp(3rem, 1000vw, 13rem);
    margin: 0;
    color: #ce85a2;
    font-family: 'League Spartan', sans-serif;

}


@media (max-width: 768px) {
    .fundo1 h2 {
        font-size: 25px; 
    }

    .fundo1 h1 {
        font-size: 3.3rem;
        margin-top: -1rem;
        
    }

    .fundo1 {
    padding: 1rem;
    background-position: 65% center; 
    background-size: cover; 
    background-repeat: no-repeat;
}
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo a {
    text-decoration: none;
}

.logo-img {
    height: 40px;
    object-fit: contain;
}

.content {
    position: relative;
    padding: 20px 0px;
    color: white;
    min-height: 100vh;
}

.sobre-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sobre h2 {
    font-size: 3rem;
    margin-left: 4rem;
    margin-bottom: -5px;
    margin-top: 5rem;
}

.link-projetos {
    color: #ce85a2; 
    text-decoration: none;
    font-weight: bold; 
    transition: font-size 0.3s, color 0.3s;
}

.link-projetos:hover { 
    color: #863d6b; 
    font-size: 2.1rem;
}

.profile-pic {
    width: 20rem; 
    height: auto; 
    border-radius: 8px; 
    margin: 4rem; 
    margin-top: 10px;
    transition: all 0.3s ease; 
}

.text h3 {
    font-weight: bold;
    font-size: 3rem;
}

.text p {
    font-size: 2rem;
    line-height: 1.5;
}

.corner-image {
    position: absolute;
    bottom: -8rem;
    right: -3rem;
    width: 21rem;


}

@media (max-width: 768px) {
    
    .sobre h2 {
        font-size: 2rem;
    }
    .sobre-content {
        flex-direction: column; 
        align-items: center;
        
    }
    .text h3 {
        text-align: center; 
        font-size: 1.6rem !important;
        margin-top: 2rem; 
        white-space: nowrap; 
    }

    .profile-pic {
        width: 18rem; 
        margin-bottom: -1.5rem;
    }


    .text p {
        font-size: 1rem; 
        text-align: center;
        line-height: 1.4;
        margin-top: 3opx;
    }

    .sobre h2 {
        font-size: 2.5rem; 
        text-align: center; 
        margin-left: 0; 
    }

    .link-projetos:hover { 
        color: #863d6b; 
        font-size: 1rem;
    }
}




.desenho {
    display: flex;
    gap: 20px;
    align-items: center;
}

.skills h1 {
    color: white;
    font-size: 3rem;
    margin-left: 4rem;
    margin-bottom: 0;
}

.minha-animacao {
    width: 20rem; 
    height: auto; 
    border-radius: 8px; 
    margin: 4rem; 
    margin-top: 10px;
    transition: all 0.3s ease; 
}

.detalhe {
    margin-left: 23.5rem;
    width: 30rem;
    margin-bottom: 17rem;
    margin-top: -28rem;

}

.skills-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2px;
    margin-top: -45rem;
    margin-left: 15rem;


}

.skills-logos img {
    width: 10rem;
    height: auto;
    transition: transform 0.3s;
}

.skills-logos img:hover {
    transform: scale(1.1);
}

.decoracao-skills {
    position: relative;
    right: -88rem;
    top: 50%;
    transform: translateY(-50%);
    width: 24rem;
    z-index: 1;
    margin-top: 20rem;

}

.decoracao-skills2 {
    position: relative;
    right: -84rem;
    top: 50%;
    transform: translateY(-50%);
    width: 21rem;
    z-index: 1;
    margin-left: -21rem;

}




@media (max-width: 768px) {

    .skills h1 {
        font-size: 2rem;
        margin-top: 4rem;
        text-align: center;
        margin-left: 0;
    }
    
.desenho {
    flex-direction: column; 
    align-items: center;
}

.minha-animacao {
    width: 18rem; 
    margin-bottom: -1.5rem;
    align-items: center;
    justify-content: center;
    

}    
.skills-logos {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 20px;
    margin-left: 1rem;
    margin-top: 1rem;


}

.skills-logos img {
    width: 7rem;
    height: auto;
    transition: transform 0.3s;
}

.detalhe {
    display: none;
}

}



.projetos {
    margin-top: 30rem;
    text-align: center;
}

.projetos h1 {
    color: white;
    font-size: 2.5rem; 
    margin: 0 auto 20px auto; 
}

.cartoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
    height: 350px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.9rem;
    margin: 0 10px 10px;
}

.github-logo {
    width: 40px !important;
    height: 40px !important;
    transition: transform 0.3s;
    display: inline-block;
    margin-top: 10px;
    color: #000000;
}

.github-logo:hover {
    transform: scale(1.3);
}



@media (max-width: 768px) {

    .projetos {
        margin-top: 50px;
    }
    .cartoes {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }

    .projetos h1 {
        font-size: 2rem;
        margin-left: 0;
    }
}





.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    height: 100vh;
    margin-top: 5rem;


}

.contato h1 {
    
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem !important;
    text-align: center;
    font-size: 4.5rem !important;
    margin: 0;
    color: #ce85a2;
    font-family: "Ubuntu", serif;
    
}

.contato h2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem !important;
    margin-right: 7rem;
    color: #ffffff;
    ;
}

form {
    width: 100%;
    max-width: 30rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}


input,
textarea,
button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input,
textarea {
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    background: #fbfbfc;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #f64fae;
    box-shadow: 0 0 0 0.3125rem #45002d;
}

label {
    margin-bottom: 0.5rem;
    color: #84868f;
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}

button {
    border: none;
    border-radius: 99px;
    color: white;
    background: #ce85a2;
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    outline: none;
    background: #dd57ac;
}

button:disabled {
    cursor: not-allowed;
    background: #555b69;
}

.success,
.error {
    text-align: center;
}

.success {
    color: rgb(187, 0, 90);
}

.error {
    color: tomato;
}


footer {
    background-color: #2d0023;
    padding: 1rem 0;
    text-align: center;
    color: white;
    margin-top: auto;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 17px;
}
footer a {
    color: #ffd3ec; 
    text-decoration: none;
    font-weight: bold; 
    transition: color 0.3s; 
}
footer a:hover {
    color: #dd57ac; 
}

.logoss-contatoss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
    align-items: center;
    text-align: center; 
    margin-bottom: 2rem;


}
.imagens-contatoss {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s;
    display: inline-block;

}

.logoss-contatoss h1 {
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 3rem;
    white-space: nowrap;
    margin-right: 10rem;
    text-align: center; 
    
}

.imagens-contatoss:hover {
    transform: scale(1.1);
    
}

@media (max-width: 768px) {
    .contato h1 {
       
        font-size: 2.4rem !important;
        color: #ce85a2;
        
    }
    
    .contato h2 {
        display: none;
    }

    form {
        max-width: 20rem;
    }

    .logoss-contatoss h1 {
        display: none;
    }

    .imagens-contatoss {
        width: 50px; 
        display: grid
    }

    input,
    textarea,
    button {
        font-size: 0.9rem;
        padding: 0.8rem;
    }

    textarea {
        min-height: 8rem; 
    }

    button {
        padding: 0.8rem;
    }

    footer p {
        font-size: 0.8rem; 
    }

    footer a {
        display: inline-block; 
        margin: 0 0.2rem; 
    }
}
